---
layout: network
title: Data
banner: "/assets/banners/datahome.png"
heading: 'Data description'
subheading: 'What are we looking at?'

---

<h2>Explanation of the dataset</h2>
</p>
It is crucial to understand the data foundation of the network, prior to setting up the network. 
As already mentioned the data for this study is based on the wikipidedia lists of important artists within each of the five genres; <a href="https://en.wikipedia.org/wiki/List_of_dance-pop_artists">Pop</a>, 
   <a href="https://en.wikipedia.org/wiki/List_of_hip_hop_musicians">Hiphop</a>, <a href="https://en.wikipedia.org/wiki/List_of_R%26B_musicians">RnB</a>,
   <a href="https://en.wikipedia.org/wiki/List_of_alternative_rock_artists">Rock</a>, <a href="https://en.wikipedia.org/wiki/List_of_country_music_performers">Country</a>.
The data has been downloaded by reading the list of artists for each genre using the wikipedia API. The result of the API is a html file containing the list of artists 
of the given genre. By using regular expression on the html files it is possible to extract and save the name of each artist into a pandas DataFrame. Hence this process
results in a dataframe containing the list of all artists with the attributes <code>name</code>, <code>genre</code>, and <code>link_name</code>. 
Then it is possible to use the same wikipedia API to download the wikipedia page of every artist. 
The downloaded wikipedia pages is then saved as .txt files named after the <code>link_name</code> of the given artist.

<br><br>

It is crucial to understand the data foundation of the network, prior to setting up the network. 
As already mentioned the data for this study is based on the wikipidedia lists of important artists within each of the five genres; <a href="https://en.wikipedia.org/wiki/List_of_dance-pop_artists">Pop</a>, 
   <a href="https://en.wikipedia.org/wiki/List_of_hip_hop_musicians">Hiphop</a>, <a href="https://en.wikipedia.org/wiki/List_of_R%26B_musicians">RnB</a>,
   <a href="https://en.wikipedia.org/wiki/List_of_alternative_rock_artists">Rock</a>, <a href="https://en.wikipedia.org/wiki/List_of_country_music_performers">Country</a>.
The data has been downloaded by reading the list of artists for each genre from wikipedia. The result of the data collection process is a dataset containing all 
artists from each genre together with the attributes <code>name</code>, <code>genre</code>, and <code>link_name</code>. Then it is possible to use the same wikipedia API to 
download the wikipedia page of every artist. The downloaded wikipedia pages is then saved as .txt files named after the <code>link_name</code> of the given artist. 
<p>

<p>
After the retrieval of the wikipedia pages different attributes can be collected from the .txt files, e.g. information about origin, latitude, longitude and the active years of an artist's career. 
Furthermore the number of followers can be retrived by using the genius API. The final dataset ready for basic statistics and network analysis consists of the following attributes.  
<p>
   
<table>
<colgroup>
<col width="10%" />
<col width="10%" />
<col width="80%" />
</colgroup>
<thead>
<tr class="header">
      <th>Attribute</th>
      <th>Type</th> 
      <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
    <td><code>name</code></td> 
    <td>str</td> 
    <td>Name of the artist as written in the wikipedia list</td>
</tr>
    <td><code>link_name</code></td> 
    <td>str</td> 
    <td>This attribute takes the same value as the name attribute, with the exception of links that are redirected. When running the wikipedia API some of the
      the values in the name attributes redirects to a wikipedia page with a different name. Furthermore all spaces are replaced with underscore </td>
</tr>
    <td><code>genre</code></td> 
    <td>str</td> 
    <td>The genre that the artist belongs to. It is possible for an artist to be in multiple genres. In such cases this attribute will take on multiple values that are separated by commas</td>
</tr>
    <td><code>origin</code></td> 
    <td>str</td> 
    <td>The origin of the artist</td>
</tr>
    <td><code>lat</code></td> 
    <td>float</td> 
    <td>The latitude of the origin</td>
</tr>
      <td><code>lon</code></td> 
    <td>float</td> 
    <td>The longitude of the origin</td>
</tr>
      <td><code>start_year</code></td> 
    <td>str</td> 
    <td>The starting year of an artists carreer</td>
</tr>
   <td><code>end_year</code></td> 
    <td>str</td> 
    <td>The ending year of an artists carreer. The attribute will be equal to 'Present' if an artist is still active</td>
</tr>
</tr>
   <td><code>genius_id</code></td> 
    <td>str</td> 
    <td>The artists id on Genius</td>
</tr>
   <td><code>followers_count</code></td> 
    <td>str</td> 
    <td>The number of followers that an artist have on Genius</td>
</tr>
</tbody>
</table>

<h3>Size of the dataset</h3>
<p>
The dataset has 6256 entries, hence it contains information about <b>6256 artists</b> distributed across the five genres. 
<p>
The size of the dataset is <b>1.079.396 byte large</b>. 
<p>
   
<h3>Validation of data source, Wikipedia</h3>
<p>
<a href="https://en.wikipedia.org/wiki/Wikipedia:Wikipedia_is_not_a_reliable_source">Wikipedia is not a realiable source</a>, as it is a user-generated source.
   That is what Wikipedia writes about its own reliability. In this project 6256 wikipedia pages have been downloaded from the artist lists. 
   There is a probability that these lists might not be exhaustive, but it is assumed that they represent an adequate part of all artists in the genres. 
   Furthermore the information retrieved from the pages should not be trusted blindly, but instead be viewed at with a bit of caution. 
   Nonetheless it is assumed that Wikipedia is a sufficient data source for this study. 
<p>

<h2>Basic Statistics</h2>
In the following sections some basic statistics are presented in order to gain knowledge and understanding of the data. 

<p>
<h3>Genre distribution</h3>
<p>
<p>
To begin with the genre distribution will be presented. It is important to look at the distribution in order to conclude whether or not
the data is dominated by a genre. 
</p> 
   
{% include genre_dist.html %}
<p>
   From the above plot it can be seen how the genres <code>HipHop</code> and <code>Country</code> is the largest genres in the data, 
   while the genre <code>Pop</code> is the smallest. This is essential to keep in mind for the further analysis, because there naturally will be more 
   information in the data on e.g. the Hip Hop genre than the Pop genre.
</p>


<p>
<h3>Active artists over time</h3>
</p>
<p>
Active artists are defined as artists that at a given time have started their carreer and not yet ended it. 
It is useful to look at the active artists over time, as it gives a good understanding of the dataset, that we are dealing with.
Music have existed for ages, but it keeps developing and new artists keep emerging. Furthermore Wikipedia is a modern invention, 
hence it is interesting to see which artists that are represented in wikipedia and how many over the years.
</p>
<p align="center">
{% include Active_artists.html %}
</p>
In the above plot there is a tab showing a plot of the number of active artists over time across all genres. This plot shows a large increase in the amount of artists
in the years around 1980 to 2010. In the second tab there is a plot of the active artists over time divided into the different genres. Based on this plot 
it can be concluded that HipHop is the largest genre, while Pop is the smallest genre.
Futhermore it can be seen how HipHop has a rather rapid increase compared to all other genres.

<p>
<h3>Amount of followers on Genius</h3>
</p>
<p>
   The amount of followers have been downloaded from Genius using the Genius API. The information can give an indication of which artists are popular and thereby
   which artists that might dominate the network. To begin with it is interesting to look at the average degree in each genre. From the genre distribution it was clearly
   HipHop and Country who dominated the data. Thus it is interesting to see if these genres also dominate in terms of average amount of followers. 
</p>
   
<table>
<colgroup>
<col width="40%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
</colgroup>
<thead>
<tr class="header">
      <colgroup>
      <th> </th>
      </colgroup>
      <th>RnB</th> 
      <th>Pop</th>
      <th>HipHop</th>
      <th>Rock</th>
      <th>Country</th>
</tr>
</thead>
<tbody>
<tr>
    <th>Average amount of followers</th> 
    <td>208</td> 
    <td>353</td>
   <td>376</td>
   <td>94</td>
   <td>14</td>
</tr>
</tbody>
</table>

In terms of average amount of followers it is once again HipHop that dominate. One should also notice that Pop, who is the smallest genre in terms of artists, actually have 
the second highest amount of average followers. Furthermore Country have the lowest amount of average followers, dispite the fact that it is the second largest
genre in the data.   

Based on the above table it can also be seen how the average amount of followers on Genius in general is quite low compared to other social medias. 
It is interesting to look at the top 5 artists with most followers within each genre, as it might support this tendency. 

{% include followers.html %}

From the above plot it can be seen how the HipHop genre in general have more followers than any of the other genres.
Futhermore it can be seen how the artist with most followers is Kendrick Lamar with 26.291 followers. 
If this value is compared with his amount of followers on <a href="https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg">Spotify</a> 
(30.2M monthly listeners) and <a href="https://www.instagram.com/kendricklamar/?hl=da">Instagram</a> (9.7M followers) it is a very small amount. 
Hence this indicates that people in general do not use Genius to any great extent.   
