

---
layout: sentiment
title: Sentiment
banner: "/assets/banners/home.jpeg"
heading: 'Sentiment Analysis'

---

<h2>Sentiment</h2>

<p>
The sentiment analysis will be displayed here!! aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  a
  a
  a
  a
  a
  a
  a
  a
  a
  a
  a
  a
  
  a
  a
  
  aa
  a
  a
  a
  a
  a
  
</p>


{% include figure.html %}

{% include example.html %}


<h3>Part 1</h3>

d
d
d
d
d
d

<h3>Part 2</h3>

d
d

d
d
dd
