---
layout: sentiment
title: Sentiment
banner: "/assets/banners/sentiment6.png"
heading: 'Sentiment Analysis'
subheading: 'What are the sentiment of the songs we listen to?'
---

<h2>Sentiment analysis goal</h2>
<p>
The purpose of sentiment analysis in our study is to get insight into the emotional part of the songs. We start by looking at the overall picture and investigate 
  the distribution of sentiment, revealing wheather the top listen songs provides a positive or negative message. To get a deeper insight we investigate the sentiment
  for each genre to see if some genre is more violent/negative than others. In the end we look into the most positive and negative songs and what words discribes the sentiment groups 
  to understand what makes a song negative. Hopefully this part of our study will provide knowledge of the emotional state of song and how the genres differents on thir sentiment.
</p>





<h2>Sentiment tool</h2>
<p>
Sentiment analysis is a machine learning technique capable of understanding the tone that underlie a 
  text and thus classify the spoken human language as positive, neutral or negative.  When analysing language data, a model should ideally take linguistics, 
  word ambiguity, negation, capitalization, emojis, context, symbolism and sarcasm into account to capture meaningful microsignals within language patterns 
  and subsequently determine the relative positivity or negativity of written text. An example of how the sentiment analysis should be able to capture 
  negations can be seen in the sentence   <i>”I do not like you”</i>  the word <i>like</i> is treated as a positive verb however,
  due to the linguistic structure, the proceeding phrase <i>"I do not"</i> yields negation of <i>like</i>, hence a negative sentence polarity.
 </p>

<p>
There exist multiple sentiment analysis models, all for different purpose and each with their stregnth and weaknesses. Due to the often extream word used in songs
  the choosen model is Vader. Vader(Valence Aware Dictionary for Sentiment Reasoning), is trained on social media data and is thus naturally attuned to sentiments 
  expressed in this context, including both polarity, intensity (”!!!”), emoticons (”:-/”), acronyms (”LOL”) and slang.  The model relies on word-order 
  relationship, i.e. classifying based on full sentence structure. The Vader sentiment model calculates and returns the probability of a given input text to be 
  positive, negative, and neutral. For example:“The song is great!” gives the score: positive= 0.9, neutral = 0.1 and negative = 0.  
  These three probabilities will always add up to 1. Furthermore the Vader sentiment calculates a compound score which is an aggregated normalized score with −1 being 
  the most negative and +1 the most positive. To classify a song as positive, neutral or negative the Vader sentiment model provides a threshold on the compound score,
  see <a href="https://github.com/cjhutto/vaderSentiment">The Vader Sentiment Model</a> github page for detailed describtion of the model and the thresholds. 
  For this study we use the Vader sentiment classification which are as followed:</p>
  
<p style="text-align:center;">
  positive: compound >=0.5 <br>
  neutral: -0.5 < compound < 0.5 <br>
  negative: compound=<-0.5 <br>
  </p>    



<h2>Sentiment distribution</h2>

<p>
It is interesting to investigate the overall sentiment for top listen songs. This gives an overall picture whether people like to listen to happy or sad songs. 
 Based on the thresholds for the sentiment score each song is classified as negative, neutral or positve. The distribution of the classes can be seen below.
  
</p>

<p style="text-align:center;">
{% include sentimentpiechart.html %}
  {% include compound.html %}</p>




<p>
There are very few songs classified as neutral this indicates that music tent to have an extreame polariasied sentiment. Wheather it is very loving or extream angry.
This gives an indication that music tries to avoke emotion within the listener. Furthermore the overall picture indicates that there are most postive songs. 
  To further investigate this a sentiment analysis for each genre has ben made below to see if what kind of genre we chose to listen to has a specific sentiment indicator. 
</p>


<h2>Sentiment distribution pr genre</h2>

<p>
For a compareson between the genres a sentiment analysis for each genre has been caried out. The resulting classification of songs within each genre can be seen below. 
  
</p>
{% include sentimentgenre.html %}




<p>
It is clear to see that some genre tent to have more negative songs where others more positive. ..(skriv om hiphop fx)...
</p>

<h2>Model evaluation</h2>
<p>
To evaluate the model performace we look into the most positive and most negative songs. By reading the lyrics we can evaluate if these songs has been classified correctly and thereby get an indication of the models overall performance.
  If you want to see another evaluation of the model check out <a href="https://drive.google.com/drive/folders/121j5cVK8jS9F-RIRD84YaGZYDMvBw0IM?usp=sharing">The Explainer Notebook</a>
  where we evaluate the models performance based on random samples of the data across sentiment classes. 
  The results from that evaluation shows the same as the following evaluation, nemely that the Vader Sentiment Model sucess in classifying the songs correctly.

</p>
<b>Top 3 most positive songs</b>
<p>
</p>

<table>
<colgroup>
<col width="35%" />
<col width="35%" />
<col width="25%" />
<col width="25%" />
</colgroup>
<thead>
<tr class="header">
      <th>Song</th>
    <th>Artist</th> 
        <th>Genre</th>
    <th>Sentiment</th>
</tr>
</thead>
<tbody>
  <tr>
<td>Girls Like You (Remix)</td>
    <td>Maroon 5 </td> 
    <td>Pop</td> 
    <td>0.9999</td>
</tr>
  <tr>
<tr>
<td>Mirrors</td>
    <td>Justin Timberlake</td> 
    <td>RnB</td> 
    <td>0.9999</td>
</tr>
<tr>
<td>thank u, next</td>
    <td>Ariana Grande </td> 
    <td>RnB</td> 
    <td>0.9998</td>
</tr>
</tbody>
</table>

<p>
We have chosen to look further into the lyrics of these songs to evaluate if they really do provide positive messages. 
</p>
<p>
 
</p>

<div class="row">
  <div class="column">
    <b> Girls Like you</b>
<p>This song is about a boy being madly in love with a girl. As the lyrics says, spending 24 hours together is not even enough for him. There are no doubt that this song has been classified correctly as extreamly positive.
</p>
  </div>
  <div class="column">
    <iframe src="https://open.spotify.com/embed/track/6OEHjJJvdkk1Ln0p0AZdyz?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <p>Link to lyrics: <a href="https://genius.com/Maroon-5-girls-like-you-lyrics">Girls like you</a></p>
  </div>
   </div>


<div class="row">
  <div class="column">
<b>Mirrors</b>
<p>
The song was inspired by Justin's grandparents’ relationship of 63 years. It is about finding true love and your other half.
  As he sings, "You reflect me, I love that about you. And if I could, I would look at us all the time". 
  The lyrics includes many positive sentences with love and disire, but the song also has a sad undertone of not wanting to lose the other person.
But as the sentiment analysis discovers this is a song about love which on an overall perspective should be classified as positive. 
</p>  
  </div>
  <div class="column">
    <iframe src="https://open.spotify.com/embed/track/4rHZZAmHpZrA3iH5zx8frV?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
   <p>Link to lyrics:  <a href="https://genius.com/Justin-timberlake-mirrors-lyrics">Mirrors</a></p></div>
   </div>



<div class="row">
  <div class="column">
    <b> Thank u, next</b>
<p>
  At a first glance of the title "Thank you, next" is kind of ironic and not positive but if you look closer at the lyrics you discover why the sentiment analysis has classified this song as extreamly positive. 
  The song is about learning to love your self as she sings "I've got so much love... I turned out amazing" which illustrates a correct classification after all. 
</p>
  </div>
  <div class="column">
    <iframe src="https://open.spotify.com/embed/album/684W6NpKllEexqQlGqetCi?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
   <p>Link to lyrics: <a href="https://genius.com/Ariana-grande-thank-u-next-lyrics">thank u, next</a></p></div></div>





<b>Top 3 most negative songs</b>
<p>
</p>




<table>
<colgroup>
<col width="35%" />
<col width="35%" />
<col width="25%" />
<col width="25%" />
</colgroup>
<thead>
<tr class="header">
      <th>Song</th>
    <th>Artist</th> 
        <th>Genre</th>
    <th>Sentiment</th>
</tr>
</thead>
<tbody>
<tr>
<td>HUMBLE</td>
    <td>Kendrick Lamar</td> 
    <td>HipHop</td> 
    <td>-0.9997</td>
</tr>
<tr>
<td>Cruel Summer</td>
    <td>Bananarama</td> 
    <td>Pop</td> 
    <td>-0.9996</td>
</tr>
  <tr>
<td>No Role Modelz</td>
    <td>J. Cole</td> 
    <td>HipHop</td> 
    <td>-0.9994</td>
</tr>
</tbody>
</table>

<p>
We will now evaluate if these songs has been clasified correctly by looking into the lyrics. 
</p>
<p>
 
</p>

<div class="row">
  <div class="column">
    <b> HUMBLE</b>
<p> This song is about the conflicting feelings about sucess. 
  Throughout the song the lyrcis encouragee powerfull people to be humble and find become more down. to earth. He sings, 
  “I’m so fuckin’ sick and tired of the photoshop. Show me somethin’ natural like ass with some stretch marks". The song disses the life with sucess and the song is thereby correctly classified as negative. 
</p>
  </div>
  <div class="column">
    <iframe src="https://open.spotify.com/embed/album/745wm87LGZxRYeyGM0z96J?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <p>Link to lyrics: <a href="https://genius.com/Kendrick-lamar-humble-lyrics">HUMBLE.</a></p></div>
   </div>


<div class="row">
  <div class="column">
<b>Cruel Summer</b>
<p> The song deals with the “darker side” of the traditional summer songs. 
It is about the sadness of being all by oneself when everyone else is on vecation. "It's a cruel, cruel summer.
Leaving me here on my own". Indicating a correct classification of the song. 
</p>  
  </div>
  <div class="column">
   <iframe src="https://open.spotify.com/embed/track/2EGaDf0cPX789H3LNeB03D?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
   <p>Link to lyrics: <a href="https://genius.com/Bananarama-cruel-summer-lyrics">Cruel Summer</a></p></div></div>



<div class="row">
  <div class="column">
    <b> No role modelz</b>
<p>As this title implies, this song is about J’s lack of role models growing up. 
  Furthermore he attacks Hollywood itself for its focus on superficial people, especially when it comes to women. The lyrics has almost only negative messages and is thereby classified as extreamly negative. 
</p>
  </div>
  <div class="column">
    <iframe src="https://open.spotify.com/embed/track/62vpWI1CHwFy7tMIcSStl8?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<p>Link to lyrics: <a href="https://genius.com/J-cole-no-role-modelz-lyrics">No Role Modelz</a></p></div></div>

<p>
  To sumurize the evaluation of the model it can be stated that the performane of the Vader Sentiment Model is very accurate when it comes to classifying songs as positive or negative.
</p>


<h2>Wordclouds pr sentiment</h2>
<p>
We want to further investigate what makes a song negative or positive and if some specific words indicates and describes the emotional tone of a song. To do so we look at the wordclouds for each sentiment class. 
  The wordclouds is created based on the top tf-idf words from songs within each sentiment group hence the wordclouds contains the most distincitive words for each sentiment.
</p>


<p style="text-align:center;">
  <img src="pos.png" width="530" height="300"">                                      
 </p>  
    <p>
 It makes perfectly sence that words like <i>"love"</i>, <i>"baby"</i>, <i>"heart"</i> and <i>"thank"</i> is a part of the positive wordcloud. This is word that we normally assosiate with a positive message. 
                                                                                                     
 </p>                                   
<p style="text-align:center;">
<img src="neu.png" width="530" height="300">
 </p>  
    <p>
As expected the wordcloud for the neutral sentiment class contains words in oppisite emotional directions and quite a lot of words with no sentiment orintations.
 </p>                                           

<p style="text-align:center;">
<img src="neg.png" width="530" height="300">
 </p>   
 <p>
Finally the wordcloud for the negative sentiment contains words like <i>"fuck"</i>, <i>"bitch"</i> and <i>"shit"</i> which clearly indicate a negative message.
   Furthermore the wordcloud contains the word <i>"nigger"</i> which is not a negative word but a word many hihop artist uses in there songs. Their songs has often a
                                                          negative message causing their lyrics to be a part of the negative wordclouds ansd thereby also the word <i>"nigger"</i> which is quite unfortunate.
 </p>
                                           
                                           
