<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>genre</th>
      <th>deg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Kanye West</td>
      <td>HipHop</td>
      <td>430</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Eminem</td>
      <td>HipHop</td>
      <td>398</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Jay Z</td>
      <td>HipHop</td>
      <td>396</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Lil Wayne</td>
      <td>HipHop</td>
      <td>366</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Snoop Dogg</td>
      <td>HipHop</td>
      <td>348</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Nas</td>
      <td>HipHop</td>
      <td>288</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Michael Jackson</td>
      <td>RnB, Pop</td>
      <td>286</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Johnny Cash</td>
      <td>Country</td>
      <td>281</td>
    </tr>
    <tr>
      <th>8</th>
      <td>T.I.</td>
      <td>HipHop</td>
      <td>275</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Beyoncé</td>
      <td>RnB, Pop</td>
      <td>274</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Willie Nelson</td>
      <td>Country</td>
      <td>273</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Bob Dylan</td>
      <td>Country</td>
      <td>269</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Elvis Presley</td>
      <td>Country</td>
      <td>260</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Dr. Dre</td>
      <td>HipHop</td>
      <td>257</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Busta Rhymes</td>
      <td>HipHop</td>
      <td>256</td>
    </tr>
  </tbody>
</table>